spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/mp?useSSL=false&serverTimezone=GMT%2B8
    username: root
    password: root

#trace是日志最低级别，可以输出更多的细节
logging:
  level:
    root: warn
    com.mp.dao: trace
  pattern:
    console: '%p%m%n'


mybatis-plus:
  #xml扫描路径
  mapper-locations: classpath:com/map/mapper/**/*.xml
  configuration:
    #只有配置此项才能在控制台打印sql语句
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      #配置全局主键生成策略
      id-type: uuid

